.top-kv
    .top-kv__inner
        img.top-kv__icon(src="./img/IMG_1273.jpeg", alt="")
        .top-kv__text
            h1.top-kv__ttl どうも！
                br
                | アキトともうします
            p.top-kv__detail アラサーからWEBエンジニアに
                br
                | 転身した男の自己紹介
                br
                | よければ見ていってください